<IfModule mod_headers.c>
	 # WEEK
    <FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>

    # WEEK
    <FilesMatch "\.(js|css|swf|woff)$">
        Header set Cache-Control "max-age=604800"
    </FilesMatch>
    
	Header add Access-Control-Allow-Origin "*"
</IfModule>

RewriteEngine on
Options +FollowSymlinks 
RewriteBase / 

ErrorDocument 404 /404.html
ErrorDocument 401 /404.html
ErrorDocument 403 /404.html
ErrorDocument 500 /404.html

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
  
RewriteRule  ^([a-zA-Z0-9\-'_']+)/([a-zA-Z0-9\-\_]+)$ index.php?mod=$1&controller=$2 [L,QSA]  
RewriteRule  ^([a-zA-Z0-9\-'_']+)/([a-zA-Z0-9\-\_]+)/([a-zA-Z0-9\-\_]+)$ index.php?mod=$1&controller=$2&action=$3 [L,QSA] 